<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciador de Tarefas</title>
</head>
<body>
    {% extends 'app/main.html'%}
    {% block content %}

    <h1>Fazer Login</h1>
    <form action="" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Entrar">
    </form>

    <p>
        Não tem uma conta? <a href="{% url 'register' %}">Cadastre-se</a>
    </p>
    {% endblock content %}

</body>
</html>